@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

html,
body,
#svelte {
	height: 100vh;
	width: 100vw;
}

.hljs {
	background: transparent !important;
}

.custom-cursor-pulse {
	/* terminal like cursor pulse animation */
	animation: pulse 1s infinite;
}

@keyframes pulse {
	/* terminal like cursor pulse animation */
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
